<div class="container">

    <div class="card mt-5">
        <div class="card-header">
            <div class="text-center">User-Address search panel</div>
        </div>
        <div class="card-body">
            <app-search></app-search>
        </div>
      </div>





</div>

