<!-- <div class="red-bar">
  <p style="text-align: center; color: white;">User-Adress search pannel</p>
</div>

<div class="search-bar">

  <form [formGroup]="searchForm" >
    <div class="form-group">

      <input type="text" class="form-control" formControlName="search" class="search" placeholder="Search ... " />

      <div *ngIf="submitted && searchForm.controls.search.errors">
        <div *ngIf="searchForm.controls.search.errors.required" style="color: red;">Please enter data</div>
      </div>
    </div>

    <label class="custom_checkbox">
      <input #checkboxes type="checkbox" class="form-check-input"  [value]="0" (change)="setPrimary($event)" />
      <span translate>Primary</span>
    </label>

    <label class="custom_checkbox">
      <input #checkboxes type="checkbox"  class="form-check-input" [value]="1"  (change)="setSecondary($event)" />
      <span translate>Secundary</span>
    </label>

    <label class="custom_checkbox">
      <input #checkboxes type="checkbox" class="form-check-input" [value]="2" (change)="setBoth($event)"/>
      <span translate>Both</span>
    </label>

    <div class="button-search" style="text-align: end">
      <input (click)="searchData()" style="text-align: center ;margin-right: 50px; height: 50px; width: 100px; "type="button" value="Search" />

    </div>

  </form>

</div> -->
<form [formGroup]="searchForm">
  <div class="d-flex gap-4">
    <input type="text" class="form-control rounded-pill" formControlName="search">
    <button class="btn btn-outline-danger rounded-pill ps-4 pe-4" (click)="searchData()">Search</button>
  </div>
  <div *ngIf="submitted && searchForm.controls.search.errors">
    <div *ngIf="searchForm.controls.search.errors.required" style="color: red;">Please enter data</div>
  </div>
  <div class="d-flex gap-4 mt-3 mb-5">


    <div class="form-check">
      <input class="form-check-input"  #checkboxes type="checkbox" [value]="0" (change)="setPrimary($event)">
      <label class="form-check-label"> Primary </label>
    </div>


    <div class="form-check">
      <input class="form-check-input" #checkboxes type="checkbox"  [value]="1" (change)="setSecondary($event)" >
      <label class="form-check-label"> Secondary </label>
    </div>


    <div class="form-check">
      <input class="form-check-input" #checkboxes type="checkbox" [value]="2" (change)="setBoth($event)" >
      <label class="form-check-label"> Both </label>
    </div>


  </div>
</form>


<table class="table table-bordered table-striped">

  <thead>
  <tr>
    <th>Sr. No</th>
    <th>Address</th>
    <th>Pincode</th>
    <th>Country</th>
    <th>State</th>
    <th>City</th>
    <th>Address type</th>
  </tr>
  </thead>

  <tbody>

  <tr *ngFor="let result of results.addressList">
    <td>{{result.serialNo}}</td>
    <td>{{result.address}}</td>
    <td>{{result.pincode}}</td>
    <td>{{result.country}}</td>
    <td>{{result.state}}</td>
    <td>{{result.city}}</td>
    <td>{{result.addressType}}</td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-end align-items-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"> <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
<!--      <li *ngFor="let page in results.totalRecordings" class="page-item"><a class="page-link" href="#" >x</a></li>-->
      <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
    </ul>
  </nav>
</div>
