// .red-bar{
//   height: 50px;
//   background-color: red;
// }

// .search-bar{
//   height: 100px;
// }

// .search{
//   height: 40px;
//   width: 50%;
//   border-radius: 10px;
// }

// .form-check-input{
//   margin-top: 25px;
//   margin-left: 30px;
// }

// .form-group{
//  text-align: center;
//  margin-top: 20px;
// }
